.about {
  display: flex;
  flex-direction: column;
}
.about__feature {
  margin: 0 !important;
}
.about__feature .feature {
  display: flex;
  flex-direction: row !important;
}
.about__heading-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 0 2rem;
}
.about__heading-title h1 {
  display: flex;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  max-width: 51rem;
}
.about__heading-title p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-subtext);
}
.about__feature__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__feature__container .feature {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  min-width: 17rem;
  width: 26rem;
  max-width: 33rem;
  margin-right: 2rem;
}
